@model Produc_Supplier


<div class="col-md-6 col-lg-3 ftco-animate fadeInUp ftco-animated">
    <div>
        <a class="img-prod" asp-action="Details" asp-controller="ProductSupplier" asp-route-id="@Model.Id">
            <img class="img-fluid text-info" src="/images/@Model.Image" alt="Colorlib Template">
            <div class="overlay"></div>
        </a>
        <div class="text py-3 pb-4 px-3 d-flex flex-column  justify-content-center align-items-center">
            <h5 class="text-info"><a>@Model.Product.Name</a></h5>
            <div class="d-flex">
                <div class="pricing">
                    <p class="price"><span class="price-sale">EGP @Model.Price</span></p>
                </div>
            </div>
        </div>
    </div>
</div>