@{
	Layout = "_GoTo";
	ViewData["Title"] = "GOTO-setting";
}

@section GOTO{

	<section class="ftco-section ftco-category ftco-no-pt" style="margin-top:190px;margin-left:150px;">
		<div class="container">
			<div class="row">
				<div class="col-md-4 mr-5">
					<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/images/Admin.jpg);">
						<div class="text px-3 py-1 bg-info text-white">
							<h2 class="mb-0"><a asp-action="Login" asp-controller="Admin">Admin</a></h2>
						</div>
					
					</div>
				
				</div>
				<div class="col-md-4 ml-5">
				<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(/images/ecommerece.jpg);">
					<div class="text px-3 py-1 bg-info text-white">
						<h2 class="mb-0"><a asp-action="Index" asp-controller="Home">GO-TO-Website</a></h2>
					</div>
				</div>

				</div>
			</div>
		</div>


	</section>
}
